.parallax-truehepafilter {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-truehepafilter.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-truehepafilter {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-truehepafilter-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-hepafilter {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-hepafilter.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-hepafilter {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-hepafilter-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-ionicfilter {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-ionicfilter.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-ionicfilter {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-ionicfilter-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-activatedcarbon {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-activatedcarbon.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-activatedcarbon {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-activatedcarbon-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-electrostaticfilter {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-electrostaticfilter.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-electrostaticfilter {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-electrostaticfilter-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-electrostaticprecipitators {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-electrostaticprecipitators.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-electrostaticprecipitators {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-electrostaticprecipitators-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-antibacterialfilter {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-antibacterialfilter.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-antibacterialfilter {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-antibacterialfilter-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}

.parallax-uvfilter {
    position: relative;
    height: 500px;
    background-image: url(/img/parallax-uvfilter.jpg);
    position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.parallax-logo-uvfilter {
    height: 100px;
    width: 100%;
    background-image: url(/img/parallax-uvfilter-logo-1.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;    
    top: 50%;
    margin-top: -50px;
}